<style>
    .input-group {
        width: 300px;
    }
</style>
<div>
    <div class="form-inline pull-right">
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <div class="input-group">
            <span class="input-group-addon">全局搜索：</span>
            <div class="fg-line">
                <input type="text" class="form-control" ng-change="search(kw)" ng-model="kw" placeholder="全局搜索" />
            </div>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">选择应用：</span>
        <div class="ui fluid search selection dropdown apps">
            <input name="apps" type="hidden" id="apps">
            <i class="dropdown icon"></i>
            <div class="default text">选择应用</div>
            <div class="menu">
                <div class="item" ng-repeat="item in apps track by $index" data-value="{{item.AppId}}">{{item.AppName}}</div>
            </div>
        </div>
    </div>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed editable-table listTable" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <colgroup>
            <col width="15%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="5%" />
            <col width="25%" />
            <col width="15%" />
        </colgroup>
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'功能'" filter="{Name: 'text'}" sortable="'Name'">
                {{row.Name}}
            </td>
            <td title="'控制器名'" filter="{Controller: 'text'}" sortable="'Controller'">
                {{row.Controller}}
            </td>
            <td title="'方法名称'" filter="{Action: 'text'}" sortable="'Action'">
                {{row.Action}}
            </td>
            <td title="'请求方式'" filter="{HttpMethod: 'text'}" sortable="'HttpMethod'">
                {{row.HttpMethod}}
            </td>
            <td title="'可用'">
                <label class="el-switch">
                    <input type="checkbox" name="switch" ng-model="row.IsAvailable">
                    <span class="el-switch-style" ng-click="toggle(row)"></span>
                </label>
            </td>
            <td title="'权限配置'">
                <div class="btn-group">
                    <a class="btn btn-success btn-sm waves-effect" ng-href="#/access/permission/{{row.Id}}">
                        配置权限
                    </a>
                    <a class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)">
                        更改应用
                    </a>
                </div>
            </td>
            <td title="'操作'" style="width: 155px;">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm waves-effect" ng-click="list.pass(row)" ng-if="row.Status=='审核中'">
                        <i class="icon-checkmark"></i>
                    </button>
                    <a class="btn btn-success btn-sm waves-effect" ng-href="#/post/edit?id={{row.Id}}">
                        <i class="icon-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)" ng-if="row.Status!='已删除'">
                        <i class="icon-bin"></i>
                    </button>
                    <a class="btn btn-danger btn-sm waves-effect" ng-click="list.truncate(row)" ng-if="row.Status=='已删除'">
                        <i class="icon-cross"></i>
                    </a>
                    <a class="btn btn-info btn-sm waves-effect" ng-click="list.restore(row)" ng-if="row.Status=='已删除'">
                        <i class="icon-undo2"></i>
                    </a>
                    <a class="btn  btn-sm waves-effect" ng-class="{true:'btn-success',false:'btn-primary'}[row.IsFixedTop]" ng-click="list.fixtop(row.Id)">
                        <i class="icon-pushpin" ng-class="{true:'text-danger'}[row.IsFixedTop]"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>