
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found!</title>
</head>
<body>
<div>
    <h2>
        404 页面未找到！
    </h2>
</div>
</body>
</html>
