<h2 class="text-center">管理权限【{{permission.PermissionName}}】归属的客户端子系统</h2>
<div>
    <div class="form-inline pull-right">
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <div class="input-group">
            <span class="input-group-addon">全局搜索：</span>
            <div class="fg-line">
                <input type="text" class="form-control" ng-change="search(kw)" ng-model="kw" placeholder="全局搜索" />
            </div>
        </div>
    </div>
    <h3 class="text-danger">不属于【{{permission.PermissionName}}】的客户端子系统</h3>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed editable-table listTable" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row" ng-class="{'text-danger':row.Preset}">
            <td title="'子系统名字'" sortable="'AppName'">
                {{row.AppName}}
            </td>
            <td title="'AppId'">
                {{row.AppId}}
            </td>
            <td title="'AppSecret'">
                {{row.AppSecret}}
            </td>
            <td title="'权限配置'">
                <div class="btn-group">
                    <button class="btn btn-info btn-sm waves-effect" ng-click="list.addApps(row)">
                        添加
                    </button>
                </div>
            </td>
            <td title="'首选项'">
                <div class="btn-group">
                    <a class="btn btn-danger btn-sm waves-effect" ng-href="#/apps/user/{{row.Id}}">
                        用户
                    </a>
                    <a class="btn btn-info btn-sm waves-effect" ng-href="#/apps/group/{{row.Id}}">
                        用户组
                    </a>
                    <a class="btn btn-primary btn-sm waves-effect" ng-href="#/apps/role/{{row.Id}}">
                        角色
                    </a>
                    <a class="btn btn-danger btn-sm waves-effect" ng-href="#/access?appid={{row.AppId}}">
                        访问控制
                    </a>
                    <a class="btn btn-info btn-sm waves-effect" ng-href="#/menu?appid={{row.AppId}}">
                        菜单
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3 class="text-success">【{{permission.PermissionName}}】归属的客户端子系统</h3>
    <table ng-table="list.tableParams2" class="table table-bordered table-hover table-condensed editable-table listTable" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row" ng-class="{'text-danger':row.Preset}">
            <td title="'子系统名字'" sortable="'AppName'">
                {{row.AppName}}
            </td>
            <td title="'AppId'">
                {{row.AppId}}
            </td>
            <td title="'AppSecret'">
                {{row.AppSecret}}
            </td>
            <td title="'权限配置'">
                <div class="btn-group">
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.removeApps(row)">
                        移除
                    </button>
                </div>
            </td>
            <td title="'首选项'">
                <div class="btn-group">
                    <a class="btn btn-danger btn-sm waves-effect" ng-href="#/apps/user/{{row.Id}}">
                        用户
                    </a>
                    <a class="btn btn-info btn-sm waves-effect" ng-href="#/apps/group/{{row.Id}}">
                        用户组
                    </a>
                    <a class="btn btn-primary btn-sm waves-effect" ng-href="#/apps/role/{{row.Id}}">
                        角色
                    </a>
                    <a class="btn btn-danger btn-sm waves-effect" ng-href="#/access?appid={{row.AppId}}">
                        访问控制
                    </a>
                    <a class="btn btn-info btn-sm waves-effect" ng-href="#/menu?appid={{row.AppId}}">
                        菜单
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>