
<style type="text/css">    .lv-body {
        max-height: 300px;
        overflow: hidden;
    }</style>
<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">用户权限访问控制管理控制台</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li id="toggle-width">
                <div class="toggle-switch" data-microtip="切换宽屏" data-microtip-position="bottom">
                    <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="mactrl.layoutType">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="skin-switch hidden-xs">
                        <span ng-repeat="w in mactrl.skinList | limitTo : 6" class="ss-skin bgm-{{ w }}" data-ng-click="mactrl.skinSwitch(w)"></span>
                    </li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs">
                        <a data-ng-click="mactrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i>切换全屏</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.clearLocalStorage()" href=""><i class="zmdi zmdi-delete"></i>清除LocalStorage</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="mactrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
