@model Models.Entity.UserInfo
@{
    ViewBag.Title = "修改用户密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-6">
            <div class="page-header text-center">
                <h2>修改用户密码</h2>
            </div>
            @using(Html.BeginForm("ChangePassword", "User", FormMethod.Post,new{id="form"})) {
                <div class="form-horizontal">
                    <h2 class="page-header text-center">用户：@Model.Username</h2>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label class="control-label col-md-2" for="old">旧密码</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="密码不能为空！" id="old" name="old" type="text" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="old" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="pwd">新密码</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="密码不能为空！" id="pwd" name="pwd" type="password" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="pwd" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="pwd2">再次输入密码</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="密码不能为空！" id="pwd2" name="pwd2" type="password" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="pwd2" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="保存" id="save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<script>
	$(function() {
		$("#save").click(function(e) {
			swal({
				title: "确认保存?",
				text: "确认修改用户密码!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "确认",
				cancelButtonText: "取消",
				showLoaderOnConfirm: true
			}).then(function(isConfirm) {
				if (isConfirm) {
					$.post("/User/ChangePassword", $("#form").serialize(), function(data) {
						data = JSON.parse(data);
						if (data.Success) {
							swal("密码修改成功！", data.Message, "success");
						} else {
							swal("操作失败！", data.Message, "error");
						}
					});
				}
			}, function() {
				swal("操作被取消！", "密码不会被更改！", "error");
			});
		});
	});
</script>