@model Models.Entity.UserInfo

@{
    ViewBag.Title = $" 用户组管理【{Model.Username}】";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>将用户【@Model.Username】分配到用户组</h2>
</div>
<div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6 col-lg-5 col-md-5">
                    <div class="form-group">
                        <label>不属于用户组</label>
                        <select multiple class="form-control" id="noItem" style="height: 410px"></select>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-7 col-md-7">
                    <div class="form-group">
                        <label>已隶属于用户组</label>
                        <select multiple class="form-control" id="hasItem" style="height: 410px"></select>
                    </div>
                </div>
            </div>
            <div class="row container">
                <button class="btn btn-default" id="addBtn">修改</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".loading1").show();
        InitSelect("/UserGroup/NoHasUserGroup", "noItem");
        InitSelect("/UserGroup/UserGroupList", "hasItem");
		$("#noItem").bind("change", function() {
			MoveSelectOption("noItem", "hasItem");
		});
		$("#hasItem").bind("change", function() {
			MoveSelectOption("hasItem", "noItem");
		});

		$("#addBtn").bind("click", function() {
			InitAddBtn();
		});
	});

	function MoveSelectOption(fromSelect, toSelect) {

		var selectText = $("#" + fromSelect).find("option:selected").text();
		var selectValue = $("#" + fromSelect).val();

		$("#" + fromSelect + " option[value='" + selectValue + "']").remove();
		$("#" + toSelect).prepend("<option value='" + selectValue + "'>" + selectText + "</option>");
	}

    function InitSelect(url, selectName) {
        $(".loading1").show();
		$.ajax({
			cache: true,
			type: "POST",
			url: url,
			data: {
				id: '@Model.Id'
			},
			async: false,
			success: function(data) {
				var jsonData = JSON.parse(data);
				if (jsonData.Success) {
					$.each(jsonData.Data, function(index, item) {
						$("#" + selectName).prepend("<option value='" + item.Id + "'>" + item.GroupName + "</option>");
					});
				} else {

                }
                $(".loading1").hide();
			}
		});
	}

    function InitAddBtn() {
        $(".loading1").show();
		var itemValues = "";
		$('#hasItem option').each(function(i, selected) {
			itemValues += $(selected).val() + ",";
		});

		$.ajax({
			cache: true,
			type: "POST",
            url: "/UserGroup/UpdateUserGroup",
			data: {
				id: '@Model.Id',
				gids: itemValues
			},
			async: false,
			success: function(data) {
				data = JSON.parse(data);
				if (data.Success) {
					history.back();
				} else {
					$("#warringMsg").html("<p class='text-danger'>" + data.Message + "</p>");
                }
                $(".loading1").hide();
			}
		});
	}
</script>
