@model Models.Entity.UserInfo

@{
    ViewBag.Title = $" 临时权限管理【{Model.Username}】";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>为用户【@Model.Username】分配临时权限</h2>
</div>
<div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6 col-lg-5 col-md-5">
                    <div class="form-group">
                        <label>无权限</label>
                        <select multiple class="form-control" id="noItem" style="height: 410px"></select>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-7 col-md-7">
                    <div class="form-group">
                        <label>包含权限</label>
                        <select multiple class="form-control" id="hasItem" style="height: 410px"></select>
                    </div>
                </div>
            </div>
            <div class="row container">
                <button class="btn btn-default" id="addBtn">修改</button>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                @using(Html.BeginForm("", "", FormMethod.Post, new {id = "form", onsubmit = "return false", @class = "form-horizontal col-md-12"})) {
                    <div class="page-header">
                        <h4>切换用户【@Model.Username】的临时权限</h4>
                    </div><text> | </text>
                    var ps = Model.UserPermission;
                    foreach (var p in ps)
                    {
                        <label>
                            @Html.CheckBox("pids", p.HasPermission, new { value = p.PermissionId, data_uid = p.UserInfoId.ToString(), data_pid = p.PermissionId })@p.Permission.PermissionName
                        </label>
                        <text> | </text>
                    }
                }
            </div>
            <div class="row container">
                <button class="btn btn-default" id="toggle">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
	$(function() {
        InitSelect("/Permission/NoHasPermission", "noItem");
        InitSelect("/Permission/UserPermissionList", "hasItem");
		$("#noItem").bind("change", function() {
			MoveSelectOption("noItem", "hasItem");
		});
		$("#hasItem").bind("change", function() {
			MoveSelectOption("hasItem", "noItem");
		});

		$("#addBtn").bind("click", function() {
			InitAddBtn();
        });
        $("#toggle").click(function (e) {
            var uid = "";
            var pid = "";
	        var has = "";
			$("#form :checkbox").map(function(index, item, array) {
                var data = $(item).data();
                has += $(item).is(':checked')+",";
                uid += data.uid + ",";
				pid += data.pid + ",";
            });
	        var ps = {
		        uid,
		        pid,
		        has
	        };
	        swal({
		        title: "确认保存?",
		        text: "确认修改用户临时权限数据!",
		        type: "warning",
		        showCancelButton: true,
		        confirmButtonColor: "#DD6B55",
		        confirmButtonText: "保存",
		        cancelButtonText: "取消",
		        showLoaderOnConfirm: true
	        }).then(function(isConfirm) {
		        if (isConfirm) {
                    $.post("/Permission/Toggle",ps, function(data) {
				        data = JSON.parse(data);
				        if (data.Success) {
					        swal("操作成功！", data.Message, "success");
				        } else {
					        swal("操作失败！", data.Message, "error");
				        }
			        });
		        }
	        }, function() {
		        swal("操作被取消！", "数据不会被保存！", "error");
	        });
		});
	});

	function MoveSelectOption(fromSelect, toSelect) {

		var selectText = $("#" + fromSelect).find("option:selected").text();
		var selectValue = $("#" + fromSelect).val();

		$("#" + fromSelect + " option[value='" + selectValue + "']").remove();
		$("#" + toSelect).prepend("<option value='" + selectValue + "'>" + selectText + "</option>");
	}

	function InitSelect(url, selectName) {
		$.ajax({
			cache: true,
			type: "POST",
			url: url,
			data: {
				id: '@Model.Id'
			},
			async: false,
			success: function(data) {
				var jsonData = JSON.parse(data);
				if (jsonData.Success) {
					$.each(jsonData.Data, function(index, item) {
						$("#" + selectName).prepend("<option value='" + item.Id + "'>" + item.PermissionName + "</option>");
					});
				} else {

				}
			}
		});
	}

	function InitAddBtn() {
		var itemValues = "";
		$('#hasItem option').each(function(i, selected) {
			itemValues += $(selected).val() + ",";
		});

		$.ajax({
			cache: true,
			type: "POST",
            url: "/Permission/UpdateUserPermission",
			data: {
				id: '@Model.Id',
				pids: itemValues
			},
			async: false,
			success: function(data) {
				data = JSON.parse(data);
				if (data.Success) {
					history.back();
				} else {
					$("#warringMsg").html("<p class='text-danger'>" + data.Message + "</p>");
				}
			}
		});
	}
</script>
