
@{
    ViewBag.Title = "统一登录中心";
}

<h2>登陆授权</h2>
<form id="passport" action="@Url.Action("PassportVertify", "Passport")" method="post">
    @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
    @Html.Hidden("Token", Request["Token"])
    @Html.Hidden("TimeStamp", Request["TimeStamp"])
    请求地址：@Request["ReturnUrl"] <br/>
    请求Token：@Request["Token"]<br/>
    请求时间戳：@Request["TimeStamp"]<br/>
    <input type="submit" id="btn" name="authern" value="授权登陆"/>
</form>
<script type="text/javascript">
	//setTimeout(function() {
	//    $("#passport").submit();
	//}, 5000);
</script>
