
@font-face {font-family: "iconfont";
  src: url('../Content/font/iconfont.eot'); /* IE9*/
  src: url('../Content/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../Content/font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../Content/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../Content/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e600"; }
.icon-dianhua:before { content: "\e601"; }
.icon-Go:before { content: "\e606"; }
.icon-youxiang:before { content: "\e602"; }
.icon-xinlang:before { content: "\e603"; }
.icon-coordinate:before { content: "\e604"; }
.icon-you:before { content: "\e605"; }
.icon-xiangyouhover:before { content: "\e607"; }
