@model Models.Entity.UserGroup

@{
    ViewBag.Title = $"用户组【{Model.GroupName}】详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>用户组名</th>
        <th>角色</th>
        <th>包含用户</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.GroupName</td>
        <td>
            @{
                var ps = Model.UserGroupPermission;
                foreach(var p in ps) {
                    @Html.ActionLink(p.Role.RoleName, "Get", "Role", new {id = p.RoleId},null)<text> , </text>
                }
            }
        </td>
        <td>
            @{
                var us = Model.UserInfo;
                var max = 0;
                foreach (var p in us)
                {
                    if(max>10) {
                        break;
                    }
                    @Html.ActionLink(p.Username, "Get", "User", new { id = p.Id },null)<text> , </text>
                    max++;
                }
            }
        </td>
    </tr>
    </tbody>
</table>