@model Models.Entity.Permission

@{
    ViewBag.Title = $"权限【{Model.PermissionName}】详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>权限名</th>
        <th>包含用户</th>
        <th>包含角色</th>
        <th>包含功能</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.PermissionName</td>
        <td>
            @{
                var ps = Model.UserPermission;
                foreach(var p in ps) {
                    @Html.ActionLink(p.UserInfo.Username, "Get", "User", new {id = p.UserInfoId}, null)<text> , </text>
                }
            }
        </td>
        <td>
            @{
                var us = Model.Role;
                foreach(var p in us) {
                    @Html.ActionLink(p.RoleName, "Get", "Role", new {id = p.Id}, null)<text> , </text>
                }
            }
        </td>
        <td>
            @{
                var fs = Model.Function;
                foreach(var p in fs) {
                    @Html.ActionLink(p.Name, "Get", "Function", new {id = p.Id}, null)<text> , </text>
                }
            }
        </td>
    </tr>
    </tbody>
</table>